
<p><strong>物件名：</strong><%= @property.name %></p>
<p><strong>賃料：</strong><%= @property.rent %>円</p>
<p><strong>住所：</strong><%= @property.address %></p>
<p><strong>築年数：</strong><%= @property.age %>年</p>
<p><strong>備考：</strong><%= @property.note %></p>

<hr>
<% number = 0 %>
<h3>最寄駅<%= number += 1 %></h3>
<% @property.nearest_stations.each do |nearest_station| %>

<p><strong>路線名:  <%= nearest_station.route_name %></strong></p>
<p><strong>駅名:<%= nearest_station.station_name %></strong></p>
<p><strong>徒歩分数:<%= nearest_station.on_foot %></strong></p>
<% end %>
<br>
<%= link_to '編集', edit_property_path(@property) %> |
<%= link_to '戻る', properties_path %>